.container{
    margin-bottom:150px;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}
.card-body{
    text-align: center;
}
.card-footer{
    padding-bottom:20px ;
}
.card{
    border: none;
    box-shadow: 10px 10px 15px lightgray;
    padding: 30px 40px;
    border-radius: 20px;
}
#categories .card{
    padding-right: 50px;
    margin: 10px;
}
body{
    background-color: azure;
}
.footer{
    text-align: center;
    font-size: small;
    margin-bottom: 20px;
}
.carousel{
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
}
.carousel-item{
    margin-left: 20px;
}
 